<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="refrences">

    <meta charset="UTF-8" />
    <meta name="viewport" content="width = device-width, initial-scale=1.0"/>
    <meta name="description" content="">
    <meta name="author" content="webthemez">

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datetimepicker.min.css}">
    <!--Vue.js -->
    <script type="text/javascript" th:src="@{/js/vue.js}"></script>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!--BootStrap -->
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <!--时间控件js -->
    <script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment-with-locales.js}"></script>
    <!-- bootbox -->
    <script type="text/javascript" th:src="@{/js/bootbox.min.js}"></script>
    <!-- ajaxFileUpload -->
    <script type="text/javascript" th:src="@{/js/ajaxfileupload.js}"></script>
    <title>Yc</title>
</head>
<body>

</body>
</html>