<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/top_header :: refrences"></head>
<link rel="stylesheet" type="text/css" th:href="@{/css/pages/base.css}">
<body>
       <nav th:replace="common/nav_header :: navbar-header"></nav>

       <div class="page-content d-flex align-items-stretch">
       		<nav class="side-navbar">
       			<div class="sidebar-header d-flex align-items-center">
       				<div class="avatar">
       					<img src="../images/avatar.jpg" alt="头像" class="img-fluid rounded-circle" />
       				</div>
       				<div class="title">
       					<h1 class="h4">用户名</h1>
       					<p>yc度</p>
       				</div>
       			</div>
       			<span class="heading">MAIN</span>
       			<ul class="list-unstyled">
       				<li class="active">
       					<a href="#">
       						<i class="glyphicon-home"></i>
       						个人中心
       					</a>
       				</li>
       				<li>
       					<a href="#">
       						<i class="glyphicon-home"></i>
       						HOME
       					</a>
       				</li>
       				<li>
       					<a href="#">
       						<i class="glyphicon-home"></i>
       						HOME
       					</a>
       				</li>
       				<li>
       					<a href="#">
       						<i class="glyphicon-home"></i>
       						HOME
       					</a>
       				</li>
       			</ul>
       		</nav>
       		<div class="content-inner">
       			<header id="customer-header" class="page-header">
       				<div class="container-fluid">
       					<h2 class="no-margin-bottom">个人中心</h2>
       				</div>
       			</header>

       			<section></section>

       		</div>
       	</div>

</body>
</html>